/* Styles for react-split */
.gutter {
  background-color: var(--mantine-color-text);
  transition: background-color 0.2s ease;
  width: 4px !important;
}

.gutter:hover {
  background-color: var(--mantine-color-text);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

.gutter.gutter-vertical {
  cursor: row-resize;
}